.form label{
    display: none;
}

body {
    background: url(https://res.cloudinary.com/dj-l4n4ru/image/upload/v1644690718/static/background_podik7.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
}

.transparent-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    height: 400px;
    position: relative;
    margin-top: 3rem;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.action-buttons li:not(:first-child) {
    margin-top: 0.5rem;
}

.brand-logo {
    padding-left: 1rem !important;
}

/* Hover text for meal plan action buttons, code from https://www.w3schools.com/css/css_tooltip.asp */
.hover-link .hover-text {
    visibility: hidden;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
  
    /* Position the hover-text */
    position: absolute;
    display: block;
    left: 85%;
    z-index: 1;
}

.hover-link:hover .hover-text {
    visibility: visible;
}

.mealplan-action {
    display: inline-block;
}

table {
    background-color: whitesmoke;
    color: black;
}

@media only screen and (max-width: 992px){
    .form p {
        padding: 0;
        margin: 0;
    }
    
    .form p input {
        padding: 0;
        margin: 0 !important;
        height: 1rem !important;
    }

    table.responsive-table th {
        text-align: left;
    }

    table.responsive-table tbody {
        text-align: left;
    }

    table.responsive-table tbody tr {
        width: 33%;
    }
}