.form label{
    display: none;
}

body {
    background: url(https://res.cloudinary.com/dj-l4n4ru/image/upload/v1644690718/static/background_podik7.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
}

.transparent-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    margin-top: 3rem;
}

.action-buttons li:not(:first-child) {
    margin-top: 0.5rem;
}

.brand-logo {
    padding-left: 1rem !important;
}

.call-to-action-list {
    display: inline-block;
}

.call-to-action-list li {
    list-style-type: disc !important;
    list-style-position: inside;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

/* Hover text for meal plan action buttons, code from https://www.w3schools.com/css/css_tooltip.asp */
.hover-link .hover-text {
    visibility: hidden;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
  
    /* Position the hover-text */
    position: absolute;
    display: block;
    left: 85%;
    z-index: 1;
}

.hover-link:hover .hover-text {
    visibility: visible;
}

.mealplan-action {
    display: inline-block;
}

table{
    background-color: whitesmoke;
    color: black;
}

.pick-date-form {
    background-color: whitesmoke;
    color: black;
    padding:1rem 3rem;
}

.pick-date-form p label {
    display: none;
}

.signup p input,
.login p input {
    color: whitesmoke;
}

.signup p label,
.login p label {
    float: left;
}

.login p:last-of-type {
    display: none;
}

.modal {
    color: black;
}

.messages {
    text-align: center;
}

.message {
    max-width: 600px;
    padding: 0.5rem 0;
    margin: 0 auto;
}

.message-success {
    background-color: rgb(49, 82, 49);
}

.message-info {
    background-color: rgb(38, 38, 97);
}

.message-error {
    background-color: rgb(49, 16, 16);
}

.message-warning {
    background-color: rgb(73, 58, 30);
}

.page-not-found {
    font-size: 5rem;
    margin: 1rem;
}

@media only screen and (max-width: 992px){
    .form p {
        padding: 0;
        margin: 0;
    }
    
    .form p input {
        padding: 0;
        margin: 0 !important;
        height: 1rem !important;
    }

    table.responsive-table th {
        text-align: left;
    }

    table.responsive-table tbody {
        text-align: left;
    }

    table.responsive-table tbody tr {
        width: 33%;
    }
}