{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col l1"></div>
    <div class="col l1">{{ day1 | date:"l" }}</div>  
    <div class="col l1">{{ day2 | date:"l" }}</div>  
    <div class="col l1">{{ day3 | date:"l" }}</div>  
    <div class="col l1">{{ day4 | date:"l" }}</div>  
    <div class="col l1">{{ day5 | date:"l" }}</div>  
    <div class="col l1">{{ day6 | date:"l" }}</div>  
    <div class="col l1">{{ day7 | date:"l" }}</div>
 </div>
<form method="POST" action=''>
        {% csrf_token %}
        {{ formset.management_form}}
        {% for form in formset %}
        
            {% if forloop.counter == 1 %}
            <div class="row form-row">
                <div class="col l1">Breakfast</div>
                <div class="col l1">{{ form }}</div>
            
            {% elif forloop.counter == 8 %}
            </div>
            <div class="row form-row">
                <div class="col l1">Lunch</div>
                <div class="col l1">{{ form }}</div>
            
            {% elif forloop.counter == 15 %}
            </div>
            <div class="row form-row">
                <div class="col l1">Dinner</div>
                <div class="col l1">{{ form }}</div>
            {% else %}
                <div class="col l1">{{ form }}</div>
            {% endif %}
        {% endfor %}
            </div>
            <button type="submit">Submit</button>
</form>

{% endblock %}