{% extends 'base.html' %}

{% block content %}
<div class="container s-11 m-8">
    <table class="centered responsive-table">
        <thead>
        <tr>
            <td></td>
            <th>{{ day_1 }}</th>
            <th>{{ day_2 }}</th>
            <th>{{ day_3 }}</th>
            <th>{{ day_4 }}</th>
            <th>{{ day_5 }}</th>
            <th>{{ day_6 }}</th>
            <th>{{ day_7 }}</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th>Breakfast</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <th>Lunch</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        <tr>
            <th>Dinner</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}