{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="day-1">
        <label for="">Day 1</label>
        <div class="breakfast">
            <label for="">breakfast</label>
            <input type="text">
        </div>
        <div class="lunch">
            <label for="">lunch</label>
            <input type="text">
        </div>
        <div class="dinner">
            <label for="">dinner</label>
            <input type="text">
        </div>
    </div>
    <br>
    <div class="day-2">
        <label for="">Day 2</label>
        <div class="breakfast">
            <label for="">breakfast</label>
            <input type="text">
        </div>
        <div class="lunch">
            <label for="">lunch</label>
            <input type="text">
        </div>
        <div class="dinner">
            <label for="">dinner</label>
            <input type="text">
        </div>
    </div>
    <br>
    <div class="day-3">
        <label for="">Day 3</label>
        <div class="breakfast">
            <label for="">breakfast</label>
            <input type="text">
        </div>
        <div class="lunch">
            <label for="">lunch</label>
            <input type="text">
        </div>
        <div class="dinner">
            <label for="">dinner</label>
            <input type="text">
        </div>
    </div>
    <br>
    <div class="day-4">
        <label for="">Day 4</label>
        <div class="breakfast">
            <label for="">breakfast</label>
            <input type="text">
        </div>
        <div class="lunch">
            <label for="">lunch</label>
            <input type="text">
        </div>
        <div class="dinner">
            <label for="">dinner</label>
            <input type="text">
        </div>
    </div>
    <br>
    <div class="day-5">
        <label for="">Day 5</label>
        <div class="breakfast">
            <label for="">breakfast</label>
            <input type="text">
        </div>
        <div class="lunch">
            <label for="">lunch</label>
            <input type="text">
        </div>
        <div class="dinner">
            <label for="">dinner</label>
            <input type="text">
        </div>
    </div>
    <br>
    <div class="day-6">
        <label for="">Day 6</label>
        <div class="breakfast">
            <label for="">breakfast</label>
            <input type="text">
        </div>
        <div class="lunch">
            <label for="">lunch</label>
            <input type="text">
        </div>
        <div class="dinner">
            <label for="">dinner</label>
            <input type="text">
        </div>
    </div>
    <br>
    <div class="day-7">
        <label for="">Day 7</label>
        <div class="breakfast">
            <label for="">breakfast</label>
            <input type="text">
        </div>
        <div class="lunch">
            <label for="">lunch</label>
            <input type="text">
        </div>
        <div class="dinner">
            <label for="">dinner</label>
            <input type="text">
        </div>
    </div>
</div>
<form method="POST" action="add">
    {{ meal_form.as_p }}
    {% csrf_token %}
    <button type="submit">Add</button>
</form>


{% endblock %}