{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS from materialize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Meal Planner</title>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            
            {% if user.is_authenticated %}
            <li><a href="{% url 'pick_start_date' %}">Meal Plan</a></li>
            <li>
                <a href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li><a href="">Sample Meal Plan</a></li>
            <li>
                <a href="{% url 'account_signup' %}">Register</a>
            </li>
            <li>
                <a href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}

    <!-- Compiled and minified JavaScript from materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>