{% extends 'base.html' %}

{% block content %}
<div class="transparent-overlay"></div>
<form method="POST" action="{% url 'edit_plan' meal_plan_id=meal_plan_id %}">
    {% csrf_token %}
    {{ formset.management_form}}
    <div class="container center-align">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ meal_plan.day_1 | date:"l" }}</th>
                    <th>{{ meal_plan.day_2 | date:"l" }}</th>
                    <th>{{ meal_plan.day_3 | date:"l" }}</th>
                    <th>{{ meal_plan.day_4 | date:"l" }}</th>
                    <th>{{ meal_plan.day_5 | date:"l" }}</th>
                    <th>{{ meal_plan.day_6 | date:"l" }}</th>
                    <th>{{ meal_plan.day_7 | date:"l" }}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    {% if forloop.counter == 1 %}
                        <tr>
                            <th scope="row">Breakfast</th>
                    {% endif %}
                            {% if forloop.counter >= 1 and forloop.counter < 8 %}
                                <td class="form">{{ form.as_p }}</td>
                            {% endif %}
                    {% if forloop.counter == 8 %}
                        </tr>
                        <tr>
                            <th scope="row">Lunch</th>
                    {% endif %}
                            {% if forloop.counter >= 8 and forloop.counter < 15 %}
                                <td class="form">{{ form.as_p }}</td>
                            {% endif %}
                    {% if forloop.counter == 15 %}
                        </tr>
                        <tr>
                            <th scope="row">Dinner</th>
                    {% endif %}
                        {% if forloop.counter >= 15%}
                            <td class="form">{{ form.as_p }}</td>
                        {% endif %}
                {% endfor %}
                        </tr>   
            </tbody>
        </table>
    </div>
    <div class="container right-align">
        <button class="btn" type="submit">Submit</button>
    </div>
</form>
{% endblock %}
