{% extends 'base.html' %}

{% block content %}
<div class="container">
{% for mealplan in mealplan_list %}
{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul>
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number}}">&laquo; PREV</a></li>
            {% endif %}
            <li>Meal plan: {{ mealplan.day_1 | date }} - {{ mealplan.day_7 | date}}</li>
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number}}">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

<ul>
    {% if mealplan_list %}
    <li><a href="{% url 'pick_start_date' %}">Add new meal plan</a></li>
    <!-- Modal Trigger -->

    <li><a href="edit_meal_plan/{{ mealplan.pk }}">Edit meal plan</a></li>
    <li><a class="modal-trigger" href="#modal1">Delete meal plan</a></li>
    {% else %}
    <p>You currently have no meal plans to display!</p>
    <li><a href="{% url 'pick_start_date' %}">Add new meal plan</a></li>
    {% endif %}
</ul>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <form method="post" action="{% url 'delete_plan' meal_plan_id=mealplan.pk %}">{% csrf_token %}
            <p>Are you sure you want to delete this meal plan?"?</p>
            <input type="submit" value="Confirm">
        </form>
    </div>
  </div>
    {% with meals=mealplan.meal.all %}
        <div class="row meals">
            <div class="col l1"></div>
            <div class="col l1">{{ mealplan.day_1 | date:"l" }}</div>  
            <div class="col l1">{{ mealplan.day_2 | date:"l" }}</div>  
            <div class="col l1">{{ mealplan.day_3 | date:"l" }}</div>  
            <div class="col l1">{{ mealplan.day_4 | date:"l" }}</div>  
            <div class="col l1">{{ mealplan.day_5 | date:"l" }}</div>  
            <div class="col l1">{{ mealplan.day_6 | date:"l" }}</div>  
            <div class="col l1">{{ mealplan.day_7 | date:"l" }}</div>
        </div>
        {% for meal in meals %}
        {% if forloop.counter == 1 %}
            <div class="row meals">
                <div class="col l1">Breakfast</div>
                <div class="col l1">{{ meal }}</div>
            
            {% elif forloop.counter == 8 %}
            </div>
            <div class="row meals">
                <div class="col l1">Lunch</div>
                <div class="col l1">{{ meal }}</div>
            
            {% elif forloop.counter == 15 %}
            </div>
            <div class="row meals">
                <div class="col l1">Dinner</div>
                <div class="col l1">{{ meal }}</div>
            {% else %}
                <div class="col l1">{{ meal }}</div>
            {% endif %}
        {% endfor %}
    {% endwith %}
{% endfor %}
</div>


{% endblock %}