{% extends 'base.html' %}

{% block content %}
<div class="transparent-overlay"></div>
<div class="container center-align">
    {% if mealplan_list %}
    {% for mealplan in mealplan_list %}
    
    <nav aria-label="Page navigation">
        <ul class="row">
            {% if is_paginated and page_obj.has_previous %}
                <li class="col s2"><a href="?page={{ page_obj.previous_page_number}}" aria-label="Previous meal plan"><i class="material-icons">arrow_back</i></a></li>
            {% endif %}
            <li class="{% if not page_obj.has_previous %}offset-s2 {% endif %}col s8 center-align">Meal plan: {{ mealplan.day_1 | date }} - {{ mealplan.day_7 | date}}</li>
            {% if is_paginated and page_obj.has_next %}
                <li class="col s2 right-align"><a href="?page={{ page_obj.next_page_number}}" aria-label="Next meal plan"><i class="material-icons">arrow_forward</i></a></li>
            {% endif %}
        </ul>
    </nav>
    
    <div>
        <ul class="right-align">
            <li class="mealplan-action"><a class="tooltipped white-text" href="{% url 'pick_start_date' %}" data-position="left" data-tooltip="Add new meal plan"><i class="material-icons">add_circle</i></a></li>
            <li class="mealplan-action"><a class="tooltipped white-text" href="edit_meal_plan/{{ mealplan.pk }}" data-position="left" data-tooltip="Edit meal plan"><i class="material-icons">edit</i></a></li>
            <!-- Modal Trigger -->
            <li class="mealplan-action"><a class="modal-trigger tooltipped white-text" href="#modal1" data-position="left" data-tooltip="Delete meal plan"><i class="material-icons">delete</i></a></li>
        </ul>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <form method="post" action="{% url 'delete_plan' meal_plan_id=mealplan.pk %}">{% csrf_token %}
                <p>Are you sure you want to delete this meal plan?</p>
                <input type="submit" value="Confirm" class="btn">
            </form>
        </div>
    </div>
        {% with meals=mealplan.meal.all %}
        <table class="responsive-table">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ mealplan.day_1 | date:"l" }}</th>
                    <th>{{ mealplan.day_2 | date:"l" }}</th>
                    <th>{{ mealplan.day_3 | date:"l" }}</th>
                    <th>{{ mealplan.day_4 | date:"l" }}</th>
                    <th>{{ mealplan.day_5 | date:"l" }}</th>
                    <th>{{ mealplan.day_6 | date:"l" }}</th>
                    <th>{{ mealplan.day_7 | date:"l" }}</th>
                </tr>
            </thead>
            <tbody>
                {% for meal in meals %}
                    {% if forloop.counter == 1 %}
                    <tr>
                        <th scope="row">Breakfast</th>
                    {% endif %}
                        {% if forloop.counter >= 1 and forloop.counter < 8 %}
                        <td>{{ meal }}</td>
                        {% endif %}
                    {% if forloop.counter == 8 %}
                    </tr>
                    <tr>
                        <th scope="row">Lunch</th>
                    {% endif %}
                        {% if forloop.counter >= 8 and forloop.counter < 15 %}
                        <td>{{ meal }}</td>
                        {% endif %}
                    {% if forloop.counter == 15 %}
                    </tr>
                    <tr>
                        <th scope="row">Dinner</th>
                    {% endif %}
                        {% if forloop.counter >= 15%}
                        <td>{{ meal }}</td>
                        {% endif %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
            {% endwith %}
        {% endfor %}
        {% else %}
        <p>You currently have no meal plans to display!</p>
        <a class="btn" href="{% url 'pick_start_date' %}">Add new meal plan</a>
        {% endif %}
    </div>


    {% endblock %}