{% extends 'base.html' %}

{% block content %}
<div class="transparent-overlay"></div>
<div class="container center-align">    
    <div class="sample-header center-align">
        Sample Meal plan
    </div>
    <table class="responsive-table">
        <thead>
            <tr>
                <th></th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Breakfast</th>
                <td>Full Irish</td>
                <td>Waffle</td>
                <td>Pancakes</td>
                <td>Yoghurt</td>
                <td>Scrambled eggs</td>
                <td>Eggs and soilders</td>
                <td>Eggs Benedict</td>
            </tr>
            <tr>
                <th>Lunch</th>
                <td>Egg salad sandwich</td>
                <td>BLT wrap</td>
                <td>Chicken wrap</td>
                <td>Quesadilla</td>
                <td>Ham and cheese sandwich</td>
                <td>Potatoe salad</td>
                <td>Tuna sandwich</td>
            </tr>
            <tr>
                <th>Dinner</th>
                <td>Roast chicken</td>
                <td>Chicken gnocchi soup</td>
                <td>Tuna steak</td>
                <td>Turkey vegie burgers</td>
                <td>Grilled Salamon</td>
                <td>Grilled chicken</td>
                <td>Pot roast</td>
            </tr>
        </tbody> 
    </table>
</div>

{% endblock %}